

/*this is the background of the page*/
#background{
	text-align: center;
	background: url(http://i.imgur.com/1LWoRMg.jpg?1);
	background-size: cover;
	width: 100%;
	height: 100%;
	/*opacity: 0.3;
	-webkit-filter: grayscale(100%);*/


	
}



#background-opacity {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
}

/*this is the body of the page*/
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


/*this is the video on home page*/
.iframe{
	float: left;

}


/*first page paragraphs*/
h3{
	width: 50%;
	float: left;
}


/*title of page*/
.M2{
	font-size: 50;
}
.text1{
	color: blue

}
.text2{
	color: red;
}
	


	
/*navigational buttons*/	

ul{
	padding: 10px;

	
}


li {

	display: inline;
	padding: 0px 10px 0px 10px;
}
