.header{
	
	margin: 60%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: transparent;
	padding-top: 50px;
	padding-bottom: 50px;

}
.text{
	text-align: center;
	font-weight: 300;
	font: arial;
	
}

	
	
}

li {
	display: inline;
}
 